footer{
	max-width: 800px;
	margin: 40px auto 0;
	border-top:1px solid #eeeeef;	 
}
.social-icon{
	text-align: center;
	margin: 60px auto 20px;
	ul{
		list-style: none;
		padding: 0px;
		margin:0px auto;
		li{
			display: inline-block;
			margin: 0px 10px;
			a{
				color: $menu-color;
				opacity: 0.7;
				padding: 10px 0px;
				width: 40px;
				height: 40px;
				display: inline-block;
				
				@include border-top-radius(20px); 
				@include border-bottom-radius(20px);
				text-align: center;
				border: 1px solid $menu-color;
				text-decoration: none;
			}
			&:hover{
				a{
					background-color: $menu-color;
					color: $white;
					opacity: 1;
					text-decoration: none;
				}
			}
		}
	}
}
.footer-nav{
	margin: 20px auto 20px;
	ul{
		list-style: none;
		margin: 0px auto;
		text-align: center;
		li{
			display: inline-block;
			margin: 0px 10px;
			a{
				color: $menu-color;
				opacity: 0.8;
				@include font($Futura,400,15px);
				text-decoration: none;
			}
			&:hover{
				a{
					color: $logo-color;
					text-decoration: none;

				}
			}

		}
	}
}
.footer-sign{
	text-align: center;
	p{
		color: $menu-color;
		opacity: 0.3;
		@include font($Futura,400,15px);
		a{
			color: $menu-color;
			opacity: 0.8;
			@include font($Futura,400,15px);
			&:hover{
				color: $logo-color;
			}

		}

	}
}

#book_now_modal{
	.modal-content{
		background: transparent;
	    box-shadow: inherit;
	    border: 0px;
	}
	.order-form{
			max-width: 467px;
			-webkit-box-shadow: 0px 0px 10px 0px rgba(216, 216, 216, 0.5);
			-moz-box-shadow: 0px 0px 10px 0px rgba(216, 216, 216, 0.5);
			box-shadow: 0px 0px 10px 0px rgba(216, 216, 216, 0.5);
			margin: 0px auto;
			background-color: $white;
			.close{
				z-index: 99;
    			position: relative;	
			}
			
			h6{
				text-align: center;
				@include font($Futura,500,25px);
				color: $black;
				opacity: 0.9;
			}
			form{
				//max-width: 400px;
				position: relative;
				display: block;
				margin: 0px auto;
				padding: 40px 40px 80px;
				text-align: center;
				
				.booking-input{
					padding: 15px 24px;
					margin: 5px 0px;
					border: 1px solid #f4f4f4;
					width: 100%;
					@include font($Futura,400,15px);
				}
				.booking-select{
					padding: 15px 24px;
				    margin: 5px 0px;
				    border: 1px solid #f4f4f4;
				    width: 100%;
				    @include font($Futura,400,15px);
				    background-color: $white;
				    height: 46px;
				    -webkit-appearance: none;

				}
				.booking-submit{
					@include font($Futura,600,15px);
					color: $white;
					background-color: $menu-color;
					border: 0px;
					padding: 20px 0px;
					width: 162px;
					@include border-top-radius(3px); 
					@include border-bottom-radius(3px);
					position: absolute;
					bottom: -28px;
					left: 150px;
					@include media-max(467px) {
						left: 100px;
					}
					&:hover{
						color: $logo-color;
					}
				}	
			}
			
		}
}

#video_modal{
	
	.modal-content{
		background: transparent;
	    box-shadow: inherit;
	    border: 0px;
	    .modal-body{
	    	position: relative;
	        padding-bottom: 56.25%;
	        padding-top: 25px;
	        height: 0;
	        iframe{
	        	position: absolute;
	        	top: 0;
	        	left: 0;
	        	width: 100%;
	        	height: 100%;
	        }
	    }

	    
	}
}